@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br/>
<div class="container">
<form>
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Room Login</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="roomId">Room Name</label>  
  <div class="col-md-4">
  <input id="roomId" name="roomId" placeholder="myawesomeroom" class="form-control input-md" required="" type="text">
    
  </div>
</div>
<br>
<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="roompassword">Password</label>
  <div class="col-md-4">
    <input id="roompassword" name="roompassword" placeholder="Password" class="form-control input-md" required="" type="password">
    
  </div>
</div>

</fieldset>
<br/>
<a href="#" class="btn btn-primary">Login</a>
</form>

</form>
</div>